.thumbnail-wrapper {
    margin: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 90px;

    &:hover {
        cursor: pointer;
        .thumbnail-img {
            scale: 1.05;
            transition: scale ease 200ms;
        }

    }

    .thumbnail-img-container {
        width: 160px;
        height: 107px;
        .thumbnail-img {
            // height: 110px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 3px;
            // box-shadow: ;
        }
    }
    .thumbnail-text {
        margin-top: 5px;
    }
}