<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h4>Upload Photo Page</h4>

    <div>
        <input id="file-input" type="file" multiple max="10">
        <button id="file-submit" type="submit">
            upload
        </button>
        <button id="validate-button">validate</button>
        <p id="input-message-box"></p>
    </div>

    <script>
        window.env = {
            PORT: '<%= PORT %>'
        }
    </script>

    <script src="../javascripts/uploadScript.js"></script>
    
</body>
</html>