.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: var(--bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5vw 0 2vw;
    height: var(--header-height);

    box-shadow: 0 -7px 14px rgb(100 116 142);

    &.hidden {
        background-color: transparent;
        transition: background-color 1s ease-in;
        box-shadow: none;

        .app-header-title {
            display: none;
        }
    }

    .app-header-title {
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--text-color);
        margin: 0 auto;
    }
}