.input-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;


    .input-field-label {
        // font-size: 12px;
        // margin-left: 7px;
        // color: var(--text-color);
        // font-family: Inter, Helvetica, sans-serif;
        // opacity: 0.85;

        display: block;
        font-size: 0.85rem;
        font-weight: 500;
        color: var(--text-color-2);
        margin-bottom: 8px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .input-field-container {
        margin-top: 8px;
        // height should have several (but not too many) fixed values based on screen size, bassically: mobile, tablet, desktop, tv.

        // box-sizing: border-box;

        width: 100%;
        // height: 38px;
        // padding: 12px;
        // border-radius: 12px;
        // box-shadow: 0 0 20px 0 rgba(107, 107, 147, 0.787);

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        >* {
            width: 100%;
        }

        input {
            // border: none;
            // outline: none;
            padding: 8px 8px;
            height: 46px;
            width: 100%;
            border-radius: 8px;
            // color: #565656d0;

            box-sizing: border-box;
            direction: ltr;




            color: var(--text-color);
            background: var(--btn-color-2);
            border: solid var(--border-color) 1px;

        }

        .toggle-password {
            margin-top: 3px;
            margin-right: 8px; // NOTE: input is set to direction: ltr, therefore margin-right instead of inline-end
            width: clamp(16px, 4vw, 24px);
            cursor: pointer;
            position: absolute;
            right: 0;

            .toggle-password-icon {
                width: 100%;
            }
        }
    }
}