.confirm-popup-wrapper {
    display: flex;
    flex-direction: column;

    padding: 20px 35px;

    .confirm-title {

    }
    .confirm-button-block {
        display: flex;
    }
    .confirm-button {

    }
}