.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 58dvw;
    height: 54dvh;

    // background-color: white;

    .upload-top-row {
        width: 100%;
        display: flex;
        .upload-close {
            rotate: 45deg;
            font-size: 30px;
            padding: 3% 2% 0 0;
            font-weight: 500;
            margin-left: auto;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    // .upload-title {
    // }

    .upload-input-container {
        display: flex;
        align-items: center;
        margin-top: 24px;
        padding-left: 60px;
        .upload-input-label {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    
    
    
            width: 16rem;
            height: 2.5rem;
    
            border-radius: 2rem;
    
            border: solid black 1px;
    
    
            #upload-input {
                display: none;
            }
        }

        .upload-spinner-container {
            margin-left: 25px;
            width: 35px;
            .upload-spinner {
                width: 35px;
            }
        }
    }


    

    .upload-list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: auto;
        border: dashed gray 1px;


        height: 300px;

        width: 90%;

        border-radius: 1%;

        margin-top: 20px;

        padding: 0.5%;

        .upload-list-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            height: 100px;
            width: 160px;
            padding: 4px;
            margin-bottom: 15px;


            .upload-list-item-img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            // .upload-list-item-name {

            // }

            .upload-list-item-success {
                color: rgb(127, 255, 47);
            }

            .upload-list-item-failed {
                color: rgb(181, 27, 27);
            }
        }
    }

    .upload-submit-container {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .upload-submit {
            background-color: rgba(236, 246, 244, 0.858);
            padding: 0;
            cursor: pointer;
    
            margin-left: 45px;
    
    
            width: 8rem;
            height: 1.8rem;
    
            border-radius: 0.9rem;
    
    
    
            &:hover:not(:disabled) {
                scale: 1.02;
            }
    
    
        }
        .upload-submit-spinner-container {
            margin-left: 20px;
            width: 25px;

            img {
                margin-bottom: -3px;
            }
        }
    }

}


@media screen and (max-width: 600px) {
    .upload-wrapper {
        width: 95dvw;
        height: 90dvh; 

        .upload-top-row {
            .upload-close {
                font-size: 26px;
            }
        }
    
        // .upload-title {
        // }
    
        .upload-input-container {
            padding-left: 45px;
            // .upload-input-label {
            //     #upload-input {
            //     }
            // }
            .upload-spinner-container {
                margin-left: 10px;
                // .upload-spinner {
                // }
            }
        }
    
        .upload-list-container {
            height: 500px;
            // .upload-list-item {

            //     // .upload-list-item-img {
            //     // }
            //     // .upload-list-item-name {
            //     // }
            //     // .upload-list-item-success {
            //     // }
            //     // .upload-list-item-failed {
            //     // }
            // }
        }
    
        // .upload-submit-container {
            
    
        //     .upload-submit {
        //     }

        //     .upload-submit-spinner-container {
        //         img {
        //         }
        //     }

        // }
    
    }
}